body {
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    background: linear-gradient(135deg, white, #d9ce3a);
}

.form-container {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    gap: 10px;

}

.form-group {
    display: grid;
    gap: 5px;

}

label {
    font-weight: bold;
    font-size: 15px;
}

input[type="text"], input[type="checkbox"], select, textarea {
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    grid-column: span 2;
}

/*button {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/


#submit{
    background-color: #27b700;
    color: #f1eaac;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    width:100px;
    height: 40px;
    top:40px;
    font-weight: bolder;
}

#update{
    background-color: #139d90;
    color: #f1eaac;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100px;
    position: relative;
    left: 120px;
    top:0px ;
    height: 40px;
    font-weight: bolder;
}

#delete{
    background-color: rgb(176, 5, 73);
    color: #f1eaac;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100px;
    position: relative;
    left: 240px;
    top:-40px ;
    height: 40px;
    font-weight: bolder;
}

button:hover {
    background-color: #45a049;
}